{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<p>

</p>
<p>

</p>
<p>

</p>
<h3>About my website</h3>
<p></p>
<p>Hello everyone! I am swammer#4179, and this is my website which I made to calculate the average housing prices in California. This website is made with two special frameworks. 
   One of them being Flask, the website lightweight framework, and scikit-learn, the machine learning framework used to calculate the prices.
   I hope everyone enjoys it and this was a quick 2 hour project for me. Thanks.
</p>
{% endblock %}